* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Saans TRIAL';
    src: local('Saans TRIAL Regular'), local('Saans-TRIAL-Regular'),
        url('font/Saans.woff2') format('woff2');
}

:root {
    /* COLORS VARS */
    --default-color: #f1f5f9;
    --hover-color: #e2e8f0b3;
    --hero-text: #64748b;
    --text-color: #000;
    --selection-background: #000;
    --selection-text: #fff;

    /* FONTS VARS */
    --navigation-font: 'JetBrains Mono', 'Arial';
    --text-font: 'Saans TRIAL', 'Arial';

    /* FONTS SIZE VARS */
    --default-font-size: 1.25em;
    --heading-font-size: 1.5em;
    --hero-heading-font-size: 2.25em;
    --hero-text-font-size: 1.5em;
    --navigation-font-size: 0.875rem;

    /* BORDER VARS */
    --navigation-link-border: 2px solid black;
    --content-border: 1px solid #cbd5e1;
}

body {
    width: 100%;
    overflow-x: hidden;
}

::-moz-selection {
    color: var(--selection-text);
    background: var(--selection-background);
}

::selection {
    color: var(--selection-text);
    background: var(--selection-background);
}

/* NAVIGACE */
#navigation {
    position: relative;
    height: 6vh;
    width: 100%;
    margin: 30px 0;
}

#navigation-div {
    width: 33%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-image-div {
    width: 50px;
    height: 50px;
    background-color: var(--default-color);
    border-radius: 100%;
}

#nav-image-div:hover {
    background-color: var(--hover-color);
}

#nav-image {
    width: 100%;
    mix-blend-mode: multiply;
}

#nav-link-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

.nav-link {
    font-family: var(--navigation-font);
    font-size: var(--navigation-font-size);
    letter-spacing: -0.05em;
    line-height: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
}

.nav-link:hover {
    border-bottom: var(--navigation-link-border);
}

/* HERO */
#hero {
    width: 100%;
    height: 86vh;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#hero-heading {
    font-family: var(--text-font);
    font-size: var(--hero-heading-font-size);
    font-weight: 600;
}

#hero-text {
    color: var(--hero-text);
    font-family: var(--text-font);
    font-size: var(--hero-text-font-size);
    font-weight: 400;
}

.arrow {
    color: var(--text-color);
    position: absolute;
    font-size: var(--hero-text-font-size);
    animation: arrow-opacity-animation 5s infinite linear;
}

#arrow1 {
    opacity: 100%;
    bottom: 15px;
}

#arrow2 {
    bottom: 25px;
    animation-delay: 300ms;
}

#arrow3 {
    bottom: 35px;
    animation-delay: 600ms;
}

@keyframes arrow-opacity-animation {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 50%;
    }
    50% {
        opacity: 0%;
    }
    75% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

/* MAIN */
/* OBECNE */
.heading {
    font-size: var(--heading-font-size);
    margin-bottom: 16px;
}

.text-font {
    font-family: var(--text-font);
}

.text {
    font-size: var(--default-font-size);
    line-height: 1.75em;
}

.text-center {
    text-align: center;
}

.center {
    width: 33%;
    margin: auto;
}

.bottom-border {
    padding-bottom: 56px;
    margin-bottom: 56px;
    border-bottom: var(--content-border);
}

/* INFORMACE */
#informace {
    margin-top: 70px;
}

/* DOVEDNOSTI */
#dovednosti-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;
}

.dovednost {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--default-color);
    border-radius: 10px;
    width: 1fr;
}

.dovednost:hover {
    background-color: var(--hover-color);
}

.dovednost-img {
    width: 100px;
}
