* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Saans TRIAL';
    src: local('Saans TRIAL Regular'), local('Saans-TRIAL-Regular'),
        url('font/Saans.woff2') format('woff2');
}

:root {
    /* COLORS VARS */
    --default-color: #f1f5f9;
    --hover-color: #e2e8f0b3;
    --hero-text: #64748b;
    --text-color: #000;
    --selection-background: #000;
    --selection-text: #fff;

    /* FONTS VARS */
    --navigation-font: 'JetBrains Mono', 'Arial';
    --text-font: 'Saans TRIAL', 'Arial';

    /* FONTS SIZE VARS */
    --default-font-size: 1.25rem;
    --heading-font-size: 1.5rem;
    --hero-heading-font-size: 2.25rem;
    --hero-text-font-size: 1.5rem;
    --navigation-font-size: 0.875rem;
    --small-text-font-size: 1.125rem;

    /* WIDTH */
    --screen-width: 36rem;

    /* BORDER VARS */
    --content-border: 1px solid #cbd5e1;

    /* BOX SHADOW */
    --tw-shadow: 0 2px 12px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.03),
        0 2px 4px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.05),
        0 1px rgba(0, 0, 0, 0.06), 0 0 0 8px rgba(0, 0, 0, 0.02),
        0 24px 48px rgba(0, 0, 0, 0.08);
    --tw-shadow-colored: 0 2px 12px var(--tw-shadow-color),
        0 4px 8px var(--tw-shadow-color), 0 2px 4px var(--tw-shadow-color),
        0 1px 2px var(--tw-shadow-color), 0 1px var(--tw-shadow-color),
        0 0 0 8px var(--tw-shadow-color), 0 24px 48px var(--tw-shadow-color);
}

body {
    width: 100%;
    overflow-x: hidden;
}

::-moz-selection {
    color: var(--selection-text);
    background: var(--selection-background);
}

::selection {
    color: var(--selection-text);
    background: var(--selection-background);
}

/* NAVIGACE */
#navigation {
    position: relative;
    height: 6vh;
    width: 100%;
    margin: 30px 0;
}

#navigation-div {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nav-image-div {
    width: 50px;
    height: 50px;
    background-color: var(--default-color);
    border-radius: 100%;
}

#nav-image-div:hover {
    background-color: var(--hover-color);
}

#nav-image {
    width: 100%;
    mix-blend-mode: multiply;
}

#nav-link-ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

.nav-link {
    font-family: var(--navigation-font);
    font-size: var(--navigation-font-size);
    letter-spacing: -0.05em;
    line-height: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--text-color);
}

.nav-link:hover {
    text-decoration: underline;
}

/* HERO */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#hero-heading {
    font-family: var(--text-font);
    font-size: var(--hero-heading-font-size);
    font-weight: 600;
    margin-bottom: 25px;
}

#hero-text {
    color: var(--hero-text);
    font-family: var(--text-font);
    font-size: var(--hero-text-font-size);
    font-weight: 400;
    margin-bottom: 25px;
}

#hero-button {
    background-color: var(--text-color);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: var(--navigation-font);
    font-size: 0.75rem;
}

#hero-button:hover {
    text-decoration: underline;
}

#lines {
    margin-bottom: 50px;
    height: 80vh;
    width: 100%;
}

@keyframes arrow-opacity-animation {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 50%;
    }
    50% {
        opacity: 0%;
    }
    75% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}

/* MAIN */
/* OBECNE */
.heading {
    font-size: var(--heading-font-size);
    margin-bottom: 30px;
    font-variation-settings: 'wght' 600;
}

.text-font {
    font-family: var(--text-font);
}

.text {
    line-height: 1.75em;
}

.normal-text {
    font-size: var(--default-font-size);
}

.small-text {
    font-size: var(--small-text-font-size);
}

.text-center {
    text-align: center;
}

.center {
    max-width: var(--screen-width);
    margin: auto;
}

.bottom-border {
    padding-bottom: 56px;
    margin-bottom: 56px;
    border-bottom: var(--content-border);
}

.top-border {
    margin: 28px auto;
    padding-top: 28px;
    border-top: var(--content-border);
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* INFORMACE */
#informace {
    margin-top: 3rem;
    padding-top: 1rem;
}

/* DOVEDNOSTI */
#dovednosti-grid {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 30px;
}

.dovednost {
    padding: 0.5rem;
    width: 100%;
    background-color: var(--default-color);
    border-radius: 15px;
    width: 1fr;
}

.dovednost:hover {
    background-color: var(--hover-color);
}

.dovednost-img {
    width: 150px;
    aspect-ratio: 16/9;
    object-fit: contain;
    mix-blend-mode: multiply;
}

/* Projekty */
#projekty {
    margin-bottom: 5rem;
}

#projekty-posun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#projekty-flex {
    width: 170%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.projekt {
    flex-basis: 47.5%;
    align-items: flex-start;
    padding: 2rem;
    background-color: var(--default-color);
    border-radius: 15px;
    text-decoration: none;
    color: var(--text-color);
    margin-bottom: 5%;
}

.projekt:hover {
    background-color: var(--hover-color);
}

.projekt-heading {
    font-size: var(--default-font-size);
    letter-spacing: -0.025rem;
    text-align: left;
}

.projekt-img {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 10px;
    margin: 0px auto 16px auto;
    width: 100%;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer img {
    margin-left: 10px;
    width: 30px;
}

#footer-text {
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-size: var(--navigation-font-size);
    font-family: var(--navigation-font);
}

#footer-text:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1150px) {
    /* PROJEKTY */
    .projekt {
        flex-basis: 60%;
    }
}

@media only screen and (max-width: 610px) {
    body {
        text-align: center;
    }

    /* NAVIGACE */
    #navigation-div {
        padding: 0;
        justify-content: center;
    }

    #lines {
        height: 70vh;
    }

    /* DOVEDNOSTI */
    #dovednosti-grid {
        grid-template-columns: repeat(2, 45%);
    }

    /* PROJEKTY */
    .projekt {
        flex-basis: 55%;
    }
}
